In [1]:
    import mysql.connector
    mydb = mysql.connector.connect(
           host='localhost',
           user='root',
           password='manu1234',
           database='MANU_DB',
           auth_plugin = 'mysql_native_password')

    mycursor = mydb.cursor()   



    
    
    
    def ATM():
        global Account_number
        Account_number=input("Enter your account number= ")
        
        PIN=int(input("please enter your four digit PIN="))
        
        sql="SELECT PIN FROM ATM"
        mycursor.execute(sql)
        list1=[]
        for i in mycursor:
            list1.append(i[0])
                    
        sql="SELECT Account_number FROM ATM"
        mycursor.execute(sql)
        list2=[]
        for i in mycursor:
            list2.append(i[0])
        a=0
        for i in list1:
            if PIN==list1[a] and Account_number==list2[a]:
                return choose1()
            a=a+1
        else:
            print("invalid bank details- please try again")
            return ATM()
            
    def choose1():
        print("1.withdrawal \n2.balance enquiry\n3.PIN change\n4.Debit")
        choose=int(input("choose an operation:"))
        
        if choose==1:
            return amount1()

        elif choose==2:
            return balance()
         

        elif choose==3:
            return new_pin()
        
        elif choose==4:
            return debit()
            
        else:
            print("choose a valid operation")
            return choose1()
        
    def amount1():
        sql="SELECT Balance FROM ATM WHERE Account_number=%s"
        val=(Account_number,)
        mycursor.execute(sql,val)
        list3=[]
        for i in mycursor:
            list3.append(i[0])
        Balance=list3[0]    
        
        available_cash_atm=200000
        amount=int(input("enter the amount="))
        if amount%100==0:
            if amount<=available_cash_atm:
                if amount<=Balance:
                    print("please collect your cash:",amount)
                    Available_balance= Balance-amount
                    print("availabale balance=",Available_balance)
                    sql = "UPDATE ATM SET Balance = %s WHERE Account_number = %s"
                    val=(Available_balance,Account_number)
                    mycursor.execute(sql,val)
                    mydb.commit()
                else:
                    print("you have insufficient funds in your account")
                    return amount1()
            else:
                print("this machine is out of cash\nplease try entering the less amount")
                return amount1()
        else:
            print("please enter the amount in 100 denominations")
            return amount1()
        
    def balance():
        sql="SELECT Balance FROM ATM WHERE Account_number=%s"
        val=(Account_number,)
        mycursor.execute(sql,val)
        list3=[]
        for i in mycursor:
            list3.append(i[0])
        Balance=list3[0]
        print(" Available Balance=",Balance)
        
    def new_pin():
        NEW_PIN=int(input("Enter the new four digit pin="))
        sql = "UPDATE ATM SET PIN = %s WHERE Account_number = %s"
        val=(NEW_PIN,Account_number)
        mycursor.execute(sql,val)
        mydb.commit()
        print("successfully updated your PIN")
        
    def debit():
        sql="SELECT Balance FROM ATM WHERE Account_number=%s"
        val=(Account_number,)
        mycursor.execute(sql,val)
        list3=[]
        for i in mycursor:
            list3.append(i[0])
        Balance=list3[0] 
        
        debit_amount=int(input("Insert the amount="))
        Balance=Balance+debit_amount
        sql = "UPDATE ATM SET Balance = %s WHERE Account_number = %s"
        val=(Balance,Account_number)
        mycursor.execute(sql,val)
        mydb.commit()
        print("your amount is debited successfully")

In [2]:
ATM()

Enter your account number= 78654321456787
please enter your four digit PIN=8876
1.withdrawal
2.balance enquiry
3.PIN change
4.Debit
choose an operation:1
enter the amount=3000
please collect your cash: 3000
availabale balance= 46000

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
       host='localhost',
       user='root',
       password='manu1234',
       database='MANU_DB',
       auth_plugin = 'mysql_native_password')

mycursor = mydb.cursor()

x="SELECT * FROM ATM"
mycursor.execute(x)
for i in mycursor:
    print(i)

('8', 'm', 'u', 'tg', 7865, 66666)
('233445618976', 'sruthi bandi', 'mudigonda', 'H.NO.3-31/2, chirumarri,mudigonda,khammam-507158', 9988, 0)
('99887656453212', 'manohar marineni', 'mudigonda', 'H.NO.3-31/1, chirumarri,mudigonda,khammam-507158', 4455, 12000)
('87654567987021', 'kavya marineni', 'mudigonda', 'H.NO.3-31/2, chirumarri,mudigonda,khammam-507158', 9231, 89000)
('87983241542673', 'pranay marineni', 'mudigonda', 'H.NO.3-32/2, chirumarri,mudigonda,khammam-507158', 7865, 52000)
('78654321456787', 'rajesh samineni', 'mudigonda', 'H.NO.3-33/2, chirumarri,mudigonda,khammam-507158', 8876, 46000)