<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 1</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data when Imported from a csv file and a SQL databease. By the end of this lab, you will be familiar with the connection methods and how you can run SQL Queries using Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">How to import a csv file from your device</a></li>
    <li><a href="#p2">How to Build a connection to a SQL database</a></li>
    <li><a href="#p3">Run Simple Queries and read them into a DataFrame</a></li>
    <li><a href="#p4">Run Complex Queries and read them into a DataFrame</a></li>
    <li><a href="#p5">WHERE in Python</a></li>
</ol>

Estimated Time Needed: <strong>60 min</strong>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p1>Part 1 : Import CSV files </a></h1>
</div>

In [ ]:
# How many games on this list were launched between 2000-2005? 

# Import pandas
import pandas as pd

In [ ]:
# Set file path to a variable
input_file_path = r"C:\Users\Durham\Desktop\Duraham\Courses\data1202\vgsales.csv"

In [ ]:
# Read Data into a DataFrame
input_raw_data = pd.read_csv(input_file_path)

In [ ]:
# Filter DataFrame for proper years
between_00_05 = input_raw_data[(input_raw_data["Year"] >= 2000) & (input_raw_data["Year"] <= 2005)]

print(between_00_05)

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Set Up the Environment to connect to MYSQL server</a></h1>
</div>

In [ ]:
pip install pymysql

In [ ]:
# How to create an engine and connect to a database

# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [ ]:
# dialect+driver://username:password@host:port/database
# 1. Dialect names include the identifying name of the SQLAlchemy dialect, a name such as sqlite, 
# mysql, postgresql, oracle, or mssql.
# The drivername is the name of the DBAPI to be used to connect to the database using all lowercase letters. 
# If not specified, a “default” DBAPI will be imported if available - this default is typically 
# the most widely known driver available for that backend.

# create engine
engine = create_engine('mysql+pymysql://omar:foo@localhost/data1202')

In [ ]:
# connection string
conn = engine.connect()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Run Simple Query</a></h1>
</div>

In [ ]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM data1202.vgsales_new", conn)

In [ ]:
# print DataFrame
print(df.head())

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : Run complex Query</a></h1>
</div>

In [ ]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    data1202.vgsales_new
WHERE
    Genre = 'Action'
        AND Year>= 2005''', conn)

print(complex_df)

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 5 : Where in Python</a></h1>
</div>

In [ ]:
# WHERE in python
nintendo_games = df[df['Publisher'] == 'Nintendo']

print("The number of Nintendo games is: " + str(len(nintendo_games)))

print("=" * 50)

In [ ]:

# TWO condition WHERE claus
action_05 = df[(df['Genre']=='Action') & (df['Year'] >= 2005)]

print("The sum of action games in NA is: " + str(action_05.NA_Sales.sum()))